<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.css" integrity="sha512-E+53kXnJyuZFSz75xSmTfCpUNj3gp9Bd80TeQQMTPJTVWDRHPOpEYczGwWtsZXvaiz27cqvhdH8U+g/NMYua3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  

</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../static/img/teaLeaves.PNG" alt="">
            <p>Majani Enterprises</p>
            <div class="navBar">
                <ul class="nav-right">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contacts</li>
                    <li>Products</li>
                    <li>Help</li>
                </ul>
                <ul class="nav-left">
                    <li><i class="fa fa-search" aria-hidden="true"></i></li>
                    <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
                </ul>
        
            </div>
        </div>
        
        {%block content%}{%endblock%}
        
        <div class="footer">
            <p class="left">cc</p>
            <p class="right">
                <img src="../static/img/footerVisa.PNG" alt="">
                <img src="../static/img/footerMpesa.PNG" alt="">
                <img src="../static/img/footerPaypal.PNG" alt="">
                <img src="../static/img/footerAirtelMoney.PNG" alt="">
                <img src="../static/img/swift.PNG" alt="">
            </p>
    
        </div>

    </div>
   
    

    <script src="{{url_for('static', filename='js/main.js')}}" alt=""></script>
    <script src="{{url_for('static', filename='js/index.js')}}" alt=""></script>
    <script src="{{url_for('static', filename='js/product.js')}}" alt=""></script>
    <script src="{{url_for('static', filename='js/cart.js')}}" alt=""></script>  
</body>
</html>