{%extends 'base.html'%}

{%block title%}
{%endblock%}


{%block content%}
<div class="carousel">
    <div class="mySlides fade">
        <img src="../static/img/chai.PNG" >
        <div class="text">Majani halisi</div>
    </div>
    <div class="mySlides fade">
        <img src="../static/img/teaLeaves.PNG" >
        <div class="text">Majani halisi</div>
    </div>
    <div class="mySlides fade">
        <img src="../static/img/0.jpg" >
        <div class="text">Majani halisi</div>
    </div>
    <div class="mySlides fade">
        <img src="../static/img/1.jpg" >
        <div class="text">Majani halisi</div>
    </div>
    <div class="mySlides fade">
        <img src="../static/img/2.jpg" >
        <div class="text">Majani halisi</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>
      
</div>
<br>



</div>
<div class="content">
    <div class="product">
        <img src="../static/img/tea.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice"> Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button>ADD TO CART</button>
    </div>
    <div class="product2">
        <img src="../static/img/teaLeaves.PNG" alt="">
        <span class="itemName" >Majani Bora</span>
        <p class="itemPrice">Ksh 350</p>
        <button class="'button">ADD TO CART</button>
    </div>
   
   
   

</div>
{%endblock%}