{%extends 'base.html'%}

{%block content%}
    <div class="productContainer">
        <div class="mainProduct">
            <img src="../static/img/chai.PNG" alt="">
            <span class="'prodName">Product Name</span>
            <p class="prodPrice">Ksh 350</p>
            <button>ADD TO CART</button>
        </div>
        <h3>Recommendations</h3><hr>
        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita velit voluptas reiciendis neque obcaecati rem, at suscipit, dicta itaque assumenda saepe alias commodi inventore. Tenetur, eveniet quam. Tempore, eius officia?
        Hic animi, debitis dolorum fugit temporibus minus! Dolorem repellendus cum quia architecto adipisci cumque provident impedit quis repudiandae. Aliquam, error totam cumque iure ut voluptatum qui eveniet inventore animi excepturi.</p>
        <p class="title">Similar Items</p>
        <div class="recommendations">
            <div class="product">
                <img src="../static/img/chai.PNG" alt="">
                <span>Product Name</span>
            </div>
            <div class="product">
                <img src="../static/img/chai.PNG" alt="">
                <span>Product Name</span>
            </div>
            <div class="product">
                <img src="../static/img/chai.PNG" alt="">
                <span>Product Name</span>
            </div>
            <div class="product">
                <img src="../static/img/chai.PNG" alt="">
                <span>Product Name</span>
            </div>
        </div>
        
    </div>
{%endblock%}